<!-- modalCommon001 -->
<div class="modal fade" id="modalCommon001" tabindex="-1" aria-labelledby="ModalLongTitle" aria-hidden="true">
  <div class="modal-dialog mx-auto d-block" style="width: 280px">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6" id="exampleModalLongTitle">機器とルーターが接続済みの場合</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>すでに機器とルーターを接続済みの場合、ルーターとの接続手順をスキップすることができるため、「スマートスイッチ（ファン用）を登録する（WPS）」から実施してください。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon002 -->
<div class="modal fade" id="modalCommon002" tabindex="-1" aria-labelledby="ModalLongTitle" aria-hidden="true">
  <div class="modal-dialog mx-auto d-block" style="width: 280px">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6" id="exampleModalLongTitle">ルーターのSSIDに使用できる文字</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>半角記号は !#$%&'()*+-./:;<=>?@[]^_`{¦}~ に対応しています。ダブルクォーテーション（"）、カンマ（,）、バックスラッシュ（＼）、￥マークには対応していません。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon003 -->
<div class="modal fade" id="modalCommon003" tabindex="-1" aria-labelledby="ModalLongTitle" aria-hidden="true">
  <div class="modal-dialog mx-auto d-block" style="width: 280px">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6" id="exampleModalLongTitle">SSID選択画面</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>接続するルーターのSSIDを選択し、「決定」をタップする</p>
        <img class="d-block mb-4 img-border-rounded" src="../assets/img/common/407-S01.png" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
