<!-- modalCommon001 -->
<div class="modal fade" id="modalCommon001" tabindex="-1">
  <div class="modal-dialog mx-auto d-block">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6">機器とルーターが接続済みの場合</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>すでに機器とルーターを接続済みの場合、「機器とルーターを接続済み」をタップして「スマートスイッチ（ファン用）を登録する（WPS）」に進んでください。</p>
        <img class="d-block mb-4 img-border-rounded" src="../assets/img/common/398-S01.png" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon002 -->
<div class="modal fade" id="modalCommon002" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6">ルーターのSSIDに使用できる文字</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>半角記号は !#$%&'()*+-./:;<=>?@[]^_`{¦}~ に対応しています。ダブルクォーテーション（"）、カンマ（,）、バックスラッシュ（＼）、￥マークには対応していません。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon003 -->
<div class="modal fade" id="modalCommon003" tabindex="-1">
  <div class="modal-dialog mx-auto d-block">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6">SSID選択画面</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>接続するルーターのSSIDを選択し、「決定」をタップする</p>
        <img class="img-fluid d-block mx-auto cs-modal-img-width-sm border rounded-2" src="../assets/img/rac/026S01.png" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon004 -->
<div class="modal fade" id="modalCommon004" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6">SSIDを手動で入力する</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <ol>
          <li>「その他（手動設定）」を選択し、「決定」をタップする
            <img class="img-fluid my-3 mx-auto cs-modal-img-width-sm border rounded-2" src="../assets/img/rac/027S01.png">
          </li>
          <li>SSIDを手動で入力し、「決定」をタップする
            <img class="img-fluid my-3 mx-auto cs-modal-img-width-sm border rounded-2" src="../assets/img/rac/027S02.png">
          </li>
        </ol>
        <!-- おしらせ -->
        <div class="alert alert-primary" role="alert">
          <h6 class="alert-heading"><i class="bi bi-info-circle-fill pe-2 align-top"></i>おしらせ</h6>
          <p>
            iOS搭載のスマートフォンでは、次のメッセージが表示されることがあります。その場合は「OK」をタップしてください。「OK」をタップしないと接続に失敗します。「許可しない」をタップした場合は、iOSのローカルネットワークの設定を変更してください。
          </p>
          <img class="img-fluid d-block mx-auto cs-modal-img-width-sm border rounded-2" src="../assets/img/rac/027S03.svg" alt="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon005 -->
<div class="modal fade" id="modalCommon005" tabindex="-1">
  <div class="modal-dialog mx-auto d-block">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6">SSIDと暗号化キーの貼り付け箇所</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="../assets/img/rac/026S02.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon006 -->
<div class="modal fade" id="modalCommon006" tabindex="-1">
  <div class="modal-dialog mx-auto d-block">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6">「暗号化キーを自動で入力する」位置</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <ol>
          <li>タップすると前回使用した暗号化キーを自動で入力できます。
            <img class="d-block mb-4 img-border-rounded" src="../assets/img/common/408-S01.png">
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon007 -->
<div class="modal fade" id="modalCommon007" tabindex="-1">
  <div class="modal-dialog mx-auto d-block">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6">スマートスイッチのWi-Fiランプ状態</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group p-0">
          <li class="list-group-item">
            <div class="ms-2 d-flex justify-content-start align-items-center">
              <div class="me-2 flex-shrink-0" style="width: 30px;"><img class="me-2"
                  src="../assets/img/common/404-S01.png" alt="" srcset=""></div>
              <div class="flex-grow-1"><span class="fw-bold">0.5秒間隔で点滅</span></div>
            </div>
            <div class="pt-2"><span>WPSモードで動作しています（Wi-Fiを探している）。</span></div>
          </li>

          <li class="list-group-item">
            <div class="ms-2 d-flex justify-content-start align-items-center">
              <div class="me-2 flex-shrink-0" style="width: 30px;"><img class="me-2"
                  src="../assets/img/common/404-S02.png" alt="" srcset=""></div>
              <div class="flex-grow-1"><span class="fw-bold align-middle">点灯</span></div>
            </div>
            <div class="pt-2"><span>Wi-Fi接続有効。</span></div>
          </li>

          <li class="list-group-item">
            <div class="ms-2 d-flex justify-content-start align-items-center">
              <div class="me-2 flex-shrink-0" style="width: 30px;"><img class="me-2"
                  src="../assets/img/common/404-S03.png" alt="" srcset=""></div>
              <div class="flex-grow-1"><span class="fw-bold align-middle">消灯</span></div>
            </div>
            <div class="pt-2"><span>インターネット接続がありません。スマートスイッチとサーバー間で通信異常が発生しています。</span></div>
          </li>

          <li class="list-group-item">
            <div class="ms-2 d-flex justify-content-start align-items-center">
              <div class="me-2 flex-shrink-0" style="width: 30px;"><img class="me-2"
                  src="../assets/img/common/404-S01.png" alt="" srcset=""></div>
              <div class="flex-grow-1"><span class="fw-bold align-middle">1秒間隔で点滅</span></div>
            </div>
            <div class="pt-2">
              <span>遠隔操作無効中です。アプリ操作を有効とする場合は、スマートスイッチ本体操作にて遠隔操作無効状態を解除してください（電源スイッチを5秒以上長押しで遠隔操作の有効/無効を切替）。</span>
            </div>
          </li>

          <li class="list-group-item">
            <div class="ms-2 d-flex justify-content-start align-items-center">
              <div class="me-2 flex-shrink-0" style="width: 30px;"><img class="me-2"
                  src="../assets/img/common/404-S01.png" alt="" srcset=""></div>
              <div class="flex-grow-1"><span class="fw-bold align-middle">2秒間隔で点滅</span></div>
            </div>
            <div class="pt-2">
              <span>初期通信送受信中です。しばらくしてから操作してください。しばらくしても継続する場合はインターネットとの接続に異常が発生しています。インターネットの接続状態をご確認ください。</span>
            </div>
          </li>

          <li class="list-group-item">
            <div class="ms-2 d-flex justify-content-start align-items-center">
              <div class="me-2 flex-shrink-0" style="width: 30px;"><img class="me-2"
                  src="../assets/img/common/404-S01.png" alt="" srcset=""></div>
              <div class="flex-grow-1"><span class="fw-bold align-middle">5秒間に0.5秒間隔で2回点滅</span></div>
            </div>
            <div class="pt-2"><span>アクセスポイントモード（APモード）で動作しています。</span></div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon008 -->
<div class="modal fade" id="modalCommon008" tabindex="-1">
  <div class="modal-dialog mx-auto d-block">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6">スマートスイッチの各部名称</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>無線LANモジュールはスマートスイッチに内蔵されています。</p>
        <img class="d-block mb-4 img-border-rounded border-0" src="../assets/img/common/403-S01.png">

        <h5>電源スイッチ</h5>
        <p>約5秒以上長押しするとWi-Fiランプが点滅し、遠隔操作が無効になります。</p>
        <div class="alert alert-light" role="alert">再度、遠隔操作を有効にする場合は、5秒以上押して離してください。Wi-Fiランプの点滅が点灯へと切り替わり、遠隔操作が有効になります。</div>

        <h5>WPSボタン</h5>
        <p>約2秒間押すとWPSモードになります。</p>

        <h5>リセットボタン</h5>
        <p>スマートスイッチの電源をリセットできます。機器異常の場合にご使用ください。</p>

        <h5>Wi-Fiランプ</h5>
        <p class="mb-3">ランプが示す状態は以下のとおりです。</p>
        <ul>
          <li>ランプ点灯：Wi-Fi接続有効</li>
          <li>ランプ1秒点滅：遠隔操作無効</li>
          <li>ランプ消灯：Wi-Fi接続なし</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modalCommon009 -->
<div class="modal fade" id="modalCommon009" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6">前回使用した暗号化キーを入力する</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid mx-auto d-block cs-modal-img-width-sm border rounded-2" src="../assets/img/rac/26-S03.png">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <!-- modalCommon010 -->
    <div class="modal fade" id="modalCommon010" tabindex="-1">
      <div class="modal-dialog mx-auto d-block">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-6">エアコンとスマートフォンを接続する</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <ul>
              <li>スマートフォンの「設定」の「Wi-Fi」で、エアコンのSSIDである「ME-**********」（*の部分は10桁の英数字）を選択し、パスワード入力画面でKEY（パスワード）を入力してください。KEY（パスワード）は情報シールに記載されています。
                <img class="d-block mb-4" src="../assets/img/rac/54-S01.png" alt="">
                <img class="d-block mb-4" src="../assets/img/rac/54-S02.png" alt="">
              </li>
              <li>iOS搭載のスマートフォンでは以下の画面が表示されます。「＜設定」をタップしてスマートフォンの「設定」画面に進み、「Wi-Fi」をタップして上の「Wi-Fi」画面に進んでください。
                <img class="d-block mb-4 img-border-rounded" src="../assets/img/rac/54-S03.png" alt="">
                <img class="d-block mb-4 img-border-rounded" src="../assets/img/rac/54-S04.png" alt="">
              </li>
              <li>MyMUアプリの画面に戻って「次へ」をタップする
                <ul>
                  <li>エアコンとスマートフォンが接続できていることを確認してから、「次へ」ボタンをタップしてください。
                    <img class="d-block mb-4 img-border-rounded" src="../assets/img/rac/13-S04.png" alt="">
                  </li>
                  <li>「
                    次へ」をタップすると位置情報の使用許可を求めるメッセージが表示されます。「1度だけ許可」「Appの使用中は許可」あるいは「アプリの使用時のみ」「今回のみ」をタップしてください。「許可しない」をタップすると接続に失敗します。
                    <img class="d-block mb-4 img-border-rounded" src="../assets/img/rac/13-S05.png" alt="">
                    <img class="d-block mb-4 img-border-rounded" src="../assets/img/rac/13-S06.png" alt="">
                  </li>
                  <li>
                    接続に失敗した場合は右のメッセージが表示されます。「閉じる」をタップしてメッセージを閉じ、スマートフォンの設定画面でエアコンとスマートフォンの接続をやり直してください。ME-**********」が見つからない場合はアクセスポイントモードの設定からやり直してください。
                    <img class="d-block mb-4 img-border-rounded" src="../assets/img/rac/13-S07.png" alt="">
                  </li>
                </ul>
              </li>
            </ul>
            <!-- おしらせ -->
            <div class="alert alert-primary" role="alert">
              <h6 class="alert-heading"><i class="bi bi-info-circle-fill pe-2 align-top"></i>おしらせ</h6>
              <p>
                オートメーション機能で位置情報を使用する場合は、位置情報の許可を求める画面で「Appの使用中は許可」「アプリの使用時のみ」をタップし、「正確な位置情報」を「オン」にしてください。オートメーション機能については取扱説明書をご確認ください。
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modalCommon011 -->
    <div class="modal fade" id="modalCommon011" tabindex="-1">
      <div class="modal-dialog mx-auto d-block">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-6">機器登録に失敗した場合</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <ul class="list-group px-3">
              <li class="mt-0">登録に失敗した場合は登録失敗のメッセージが表示されます。「閉じる」をタップして、表示される画面の内容をご確認ください。
                <img class="d-block mb-4 img-border-rounded" src="../assets/img/switch/409-S01.png">
              </li>
              <li class="mt-0">「閉じる」をタップすると以下の画面が表示されます。内容を確認して、再度登録手順を実施してください。「戻る」をタップすると接続方法の選択画面に戻ります。
              </li>
              <li class="mt-0">再度接続できなかった場合は「エアコンの無線設定のリセット方法」をタップ、表示される操作方法から機器をリセットしてください。
                <img class="d-block mb-4 img-border-rounded" src="../assets/img/rac/20-S01.png">
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modalCommon012 -->
    <div class="modal fade" id="modalCommon012" tabindex="-1">
      <div class="modal-dialog mx-auto d-block">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-6">「機器の登録確認」が表示された場合</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <p>
              機器が別のユーザーに登録されている場合は、次のメッセージが表示されます。「登録を続ける」をタップすることで、本機器の登録が行われ、別のユーザーからは機器の登録が削除されます。登録しない場合は「キャンセル」をタップします。
            </p>
            <img class="img-fluid figure-img border rounded-2 mx-auto d-block cs-modal-img-width-sm" src="../assets/img/switch/409-S02.png">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

