<!-- footerContent-01-01401 -->
<!-- footerContent-02-01402 -->
<!-- footerContent-03-01403 -->
<!-- footerContent-04-01501 -->
<!-- footerContent-05-01502 -->
<ul>
  <li>リモコンの停止ボタンの近くに「<span class="fw-bold">長押しで無線無効</span>」の文字があるかご確認ください。</li>
  <li>「長押しで無線無効」の文字がない場合はやり直してください。</li>
</ul>

<!-- footerContent-06-01601 -->
<ul>
  <li>リモコンにメニューボタンがある場合はやり直してください。</li>
</ul>

<!-- footerContent-07-01701 -->
<!-- footerContent-08-01801 -->
<!-- footerContent-09-01802 -->
<ul>
  <li>事前に以下の準備をしてください。<i class="bi bi-1-circle"></i>接続したいルーターのSSID(2.4GHz)、<i
      class="bi bi-2-circle"></i>ルーターに接続する暗号化キー(パスワード)</li>
  <li>本アプリでルーターのSSIDに使用できる文字は<a class="footer-link" data-bs-toggle="modal"
      data-bs-target="#modalCommon002">半角英数字、半角記号、半角スペース</a>です。</li>
</ul>

<!-- footerContent-10-01901 -->
<!-- footerContent-11-02001 -->
<ul>
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon021">エアコンをアクセスポイント（APモード）にする</a></li>
</ul>

<!-- footerContent-12-02201 -->
<!-- footerContent-13-02202 -->
<ul>
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalRac02301">エアコンとスマートフォンを接続する</a></li>
</ul>

<!-- footerContent-14-02501 -->
<ul>
  <li>ルーターのSSID（2.4GHz）と暗号化キー（パスワード）をお手元に準備してください。次の操作で使用します。</li>
</ul>

<!-- footerContent-15-02601 -->
<ul>
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon005">SSIDと暗号化キーの表示例</a></li>
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon004">SSIDは手動でも入力できます。</a></li>
</ul>

<!-- footerContent-16-02602 -->
<ul>
  <li><a class="footer-link" data-bs-toggle="modal"
      data-bs-target="#modalCommon009">「暗号化キーを表示する」</a>を選択すると、前回使用した暗号化キーを自動入力できます。</li>
</ul>

<!-- footerContent-17-02801 -->
<ul>
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon013">機器の登録に失敗した場合</a></li>
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon014">「機器の登録確認」が表示された場合</a></li>
</ul>