<!-- footerCnt_01_01401 -->
<!-- footerCnt_02_01402 -->
<!-- footerCnt_03_01403 -->
<!-- footerCnt_04_01501 -->
<!-- footerCnt_05_01502 -->
<ul id="footerCnt_05_01502"  class="d-none">
  <li>リモコンの停止ボタンの近くに「<span class="fw-bold">長押しで無線無効</span>」の文字があるかご確認ください。</li>
  <li>「長押しで無線無効」の文字がない場合はやり直してください。</li>
</ul>

<!-- footerCnt_06_01601 -->
<ul id="footerCnt_06_01601"  class="d-none">
  <li>リモコンにメニューボタンがある場合はやり直してください。</li>
</ul>

<!-- footerCnt_07_01701 -->
<!-- footerCnt_08_01801 -->
<!-- footerCnt_09_01802 -->
<ul id="footerCnt_09_01802"  class="d-none">
  <li>事前に以下の準備をしてください。<i class="bi bi-1-circle"></i>接続したいルーターのSSID(2.4GHz)、<i
      class="bi bi-2-circle"></i>ルーターに接続する暗号化キー(パスワード)</li>
  <li>本アプリでルーターのSSIDに使用できる文字は<a class="footer-link" data-bs-toggle="modal"
      data-bs-target="#modalCommon018">半角英数字、半角記号、半角スペース</a>です。</li>
</ul>

<!-- footerCnt_10_01901 -->
<!-- footerCnt_11_02001 -->
<ul id="footerCnt_11_02001"  class="d-none">
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon021">エアコンをアクセスポイント（APモード）にする</a></li>
</ul>

<!-- footerCnt_12_02201 -->
<!-- footerCnt_13_02202 -->
<ul id="footerCnt_13_02202"  class="d-none">
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalRac02301">エアコンとスマートフォンを接続する</a></li>
</ul>

<!-- footerCnt_14_02501 -->
<ul id="footerCnt_14_02501"  class="d-none">
  <li>ルーターのSSID（2.4GHz）と暗号化キー（パスワード）をお手元に準備してください。次の操作で使用します。</li>
</ul>

<!-- footerCnt_15_02601 -->
<ul id="footerCnt_15_02601"  class="d-none">
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon02602">SSIDと暗号化キーの表示例</a></li>
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon004">SSIDは手動でも入力できます。</a></li>
</ul>

<!-- footerCnt_16_02602 -->
<ul id="footerCnt_16_02602"  class="d-none">
  <li><a class="footer-link" data-bs-toggle="modal"
      data-bs-target="#modalCommon02603">「暗号化キーを表示する」</a>を選択すると、前回使用した暗号化キーを自動入力できます。</li>
</ul>

<!-- footerCnt_17_02801 -->
<ul id="footerCnt_17_02801"  class="d-none">
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon02801">機器の登録に失敗した場合</a></li>
  <li><a class="footer-link" data-bs-toggle="modal" data-bs-target="#modalCommon02802">「機器の登録確認」が表示された場合</a></li>
</ul>