<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDrawerMenu"
  aria-labelledby="offcanvasDrawerMenuLabel">
  <div class="offcanvas-header border-bottom-gradient ">
    <h5 class="offcanvas-title" id="offcanvasDrawerMenuLabel">グッシェア！初期設定マニュアル</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled ps-0 mt-2">
      <li class="mb-1">
        <button type="button" class="btn d-inline-flex align-items-center rounded border-0">
          ホーム
        </button>
      </li>
      <li class="mb-1">
        <button type="button" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#rac-collapse" aria-expanded="false">
          エアコンを登録する
        </button>
        <div class="collapse" id="rac-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#"
                class="link-body-emphasis d-inline-flex text-decoration-none rounded">無線LAN内蔵エアコン(メニューボタンなし)</a>
            </li>
            <li><a href="#"
                class="link-body-emphasis d-inline-flex text-decoration-none rounded">無線LAN内蔵エアコン(メニューボタンあり)</a>
            </li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">無線LANアダプター別売エアコン</a>
            </li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">床置形以外のハウジングエアコン</a>
            </li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">床置形のハウジングエアコン</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button type="button" class="btn d-inline-flex align-items-center rounded border-0 collapsed">
          スマートスイッチ（ファン用）を登録する
        </button>
      </li>
      <li class="mb-1">
        <button type="button" class="btn d-inline-flex align-items-center rounded border-0 collapsed">
          環境センサーを登録する
        </button>
      </li>
      <li class="mb-1">
        <button type="button" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#faq-collapse" aria-expanded="false">
          よくある質問
        </button>
        <div class="collapse" id="faq-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問1</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問2</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問3</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問4</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問5</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDrawerMenu"
  aria-labelledby="offcanvasDrawerMenuLabel">
  <div class="offcanvas-header border-bottom-gradient ">
    <h5 class="offcanvas-title" id="offcanvasDrawerMenuLabel">グッシェア！初期設定マニュアル</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled ps-0 mt-2">
      <li class="mb-1">
        <button type="button" class="btn d-inline-flex align-items-center rounded border-0">
          ホーム
        </button>
      </li>
      <li class="mb-1">
        <button type="button" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#rac-collapse" aria-expanded="false">
          エアコンを登録する
        </button>
        <div class="collapse" id="rac-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#"
                class="link-body-emphasis d-inline-flex text-decoration-none rounded">無線LAN内蔵エアコン(メニューボタンなし)</a>
            </li>
            <li><a href="#"
                class="link-body-emphasis d-inline-flex text-decoration-none rounded">無線LAN内蔵エアコン(メニューボタンあり)</a>
            </li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">無線LANアダプター別売エアコン</a>
            </li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">床置形以外のハウジングエアコン</a>
            </li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">床置形のハウジングエアコン</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button type="button" class="btn d-inline-flex align-items-center rounded border-0 collapsed">
          スマートスイッチ（ファン用）を登録する
        </button>
      </li>
      <li class="mb-1">
        <button type="button" class="btn d-inline-flex align-items-center rounded border-0 collapsed">
          環境センサーを登録する
        </button>
      </li>
      <li class="mb-1">
        <button type="button" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#faq-collapse" aria-expanded="false">
          よくある質問
        </button>
        <div class="collapse" id="faq-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問1</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問2</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問3</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問4</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">よくある質問5</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
