<!-- モーダル エアコンをアクセスポイントモード（APモード）にする -->
<div id="" class="modal-overlay d-block">
  <div id="AddDesc17" class="modal-container">
    <h3>エアコンをアクセスポイントモード（APモード）にする</h3>
    <ol>
      <li>リモコンの「停止」ボタンを押して運転を停止します。</li>
      <li>「温度▲」ボタンを「ー0」が表示されるまで５秒以上長押しします。</li>
      <li>「温度▲」ボタンまたは「温度▼」ボタンで「ー1」を選択して、エアコンに向けて「停止」ボタンを押すと、エアコンが「APモード」に設定されます。
        <ul>
          <li>再度「APモード」を設定、または「WPSモード」を続けて設定すると“ピピピッ”と音が鳴り、操作を受け付けないことがあります。</li>
          <li>詳しくは各エアコンの取扱説明書をご確認ください。</li>
        </ul>
      </li>
      <li>室内機のランプが約5秒間隔で1回点滅しながら“ピッ”と音が鳴ることを確認してください。
        <ul>
          <li>ランプは以下の状態を繰り返します。</li>
          <li>この状態は10分で終了します。10分以上経過した場合は1からやり直してください。</li>
        </ul>
      </li>
    </ol>
  </div>
</div>
