@charset "UTF-8";

#targetArea01,
#targetArea02,
#targetArea03,
#targetArea04,
#targetArea05,
#targetArea06,
#targetArea07,
#targetArea08,
#targetArea09,
#targetArea10,
#targetArea11,
#targetArea12,
#targetArea13,
#targetArea14,
#targetArea15,
#targetArea16,
#targetArea17,
#targetArea18,
#targetArea19,
#targetArea20,
#targetArea21,
#targetArea22,
#targetArea23,
#targetArea24,
#targetArea25,
#targetArea26,
#targetArea27,
#targetArea28,
#targetArea29,
#targetArea30,
#targetArea31,
#targetArea32,
#targetArea4501,
#targetArea4901,
#targetArea5102,
#targetArea5301
{
  position: absolute;
  /* box-sizing: border-box; */
  background-color: #ED701E;
  opacity: 0.2;
  border-radius: 5px;
  /* z-index: 110; */
}

#targetArea01 {
  top: 0; 
  left: 0;
  width: 10.7%;
  height: 10.5%;
}

#targetArea02 {
  top: 15.6%;
  left: 0;
  width: 100%;
  height: 7.0%;
}

#targetArea03 {
  top: 32.8%;
  left: 0;
  width:100%;
  height: 11.7%;
}

#targetArea04 {
  top: 96.8px;
  left: 50%;
  width: 276px;
  height: 124.8px;
  transform: translateX(-50%);
}

#targetArea05 {
  top: 21.4%;
  left: 0;
  width: 100%;
  height: 32.8%;
}

#targetArea06 {
  top: 45.1%;
  left: 0;
  width: 100%;
  height: 23.4%;
}

#targetArea07 {
  top: 227px;
  left: 0;
  width: 300px;
  height: 592px;
}

#targetArea08 {
  top: 92.8%;
  left: 0;
  width: 100%;
  height: 7.2%;
}

#targetArea09 {
  top: 86.8%;
  left: 0;
  width: 100%;
  height: 7.2%;
}

#targetArea10 {
  top: 86.8%;
  left: 0;
  width: 100%;
  height: 7.2%;
}

#targetArea11 {
  top: 150.7%;
  left: 0;
  width: 100%;
  height: 7.2%;
}

#targetArea12 {
  top: 86.8%;
  left: 0%;
  width: 100%;
  height: 7.2%;
}

#targetArea13 {
  top: 563px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea14 {
  top: 111.7%;
  left: 0%;
  width: 100%;
  height: 7.2%;
}

#targetArea15 {
  top: 48.4%;
  left: 0%;
  width: 100%;
  height: 6.6%;
}

#targetArea16 {
  top: 86.8%;
  left: 0%;
  width: 100%;
  height: 7.2%;
}

#targetArea17 {
  top: 24.6%;
  left: 0%;
  width: 100%;
  height: 7.2%;
}

#targetArea18 {
  top: 86.4%;
  left: 0%;
  width: 100%;
  height: 7.2%;
}

#targetArea19 {
  top: 80.7%;
  left: 0%;
  width: 100%;
  height: 7.2%;
}

#targetArea20 {
  top: 86.4%;
  left: 0%;
  width: 100%;
  height: 7.2%;
}

#targetArea21 {
  top: 83.1%;
  left: 0%;
  width: 100%;
  height: 7.2%;
}

#targetArea22 {
  top: 463px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea23 {
  top: 448px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea24 {
  top: 789px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea25 {
  top: 482px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea26 {
  top: 449px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea27 {
  top: 559px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea28 {
  top: 177px;
  left: 0;
  width: 300px;
  height: 73px;
}

#targetArea29 {
  top: 461px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea30 {
  top: 431px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea31 {
  top: 461px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea32 {
  top: 443px;
  left: 0;
  width: 300px;
  height: 39px;
}
#targetArea4501 {
  top: 96px;
  left: 0;
  width: 300px;
  height: 127px;
}
#targetArea4901 {
  top: 922px;
  left: 0;
  width: 300px;
  height: 39px;
}
#targetArea5101 {
  top: 449px;
  left: 0;
  width: 300px;
  height: 39px;
}
#targetArea5102 {
  top: 449px;
  left: 0;
  width: 300px;
  height: 39px;
}
#targetArea5301 {
  top: 463px;
  left: 0;
  width: 300px;
  height: 39px;
}

