@charset "UTF-8";

:root {
  --cs-modal-width: 300px;
  --cs-modal-img-width-md: 240px;
  --cs-modal-img-width-sm: 180px;
  --cs-modal-img-width-xs: 120px;
  --cs-modal-img-1: 2rem;
  --cs-modal-img-2: 4rem;
  /* --cs-modal-img-width-md: 260px;
  --cs-modal-img-width-lg: 280px; */
  --cs-text-14: 0.875rem;
}

.modal .modal-dialog {
  max-width: var(--cs-modal-width) !important;
  margin: 0 auto;
}

.modal .cs-modal-img-width-sm {
  width: var(--cs-modal-img-width-sm) ;
}

.modal .cs-modal-img-width-xs {
  width: var(--cs-modal-img-width-xs) ;
}

.modal .cs-modal-img-width-md {
  width: var(--cs-modal-img-width-md) ;
}

.fs-7 {
  font-size: var(--cs-text-14) ;
}

body {
  color: #333;
  font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "Lucida Grande", "Hiragino Kaku Gothic Pro", Osaka, Verdana, "ＭＳ Ｐゴシック", sans-serif
}

.demo-app-wrap {
  max-width: 375px;
  height: 667px;
}

.demo-app-wrap--footer {
  position: absolute;
  z-index: 1000;
  /* top: 533.6px; */
  bottom: 0;
  width: 100%;
  max-width: 375px;
  height: 20%;
  min-height: 133.4px;
  padding: 0.5em;
}

/* floating-menu-icon */
.floating-menu-icon {
  position: absolute;
  top: 14px;
  left: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
}

/* footer contents */
.demo-app-wrap--footer {
  font-size: 0.875em;
}

.demo-app-wrap--footer .description .note {
  font-size: 0.75em;
  line-height: 1.4;
  color: #1FA28D;
}

.demo-app-wrap--footer .description ul {
  padding-left: 1.3em;
}

.demo-app-wrap--footer .footer-link,
.tippy-content .footer-link {
  cursor: pointer;
}

.demo-app-wrap--footer .footerContent .description {
  overflow-y: auto;
  max-height: 100%;
}

.demo-app-wrap--footer a,
.demo-app-wrap--footer .footer-link {
  color: #1FA28D;
  text-decoration: underline;
}

/* Bootstrap customize */
.modal-body ul,
.modal-body ol {
  list-style-type: revert;
  padding-left: 1rem;
  margin-left: revert;
}

.modal-body li>img {
  max-width: 100%;
  /* 親の幅を超えない */
  height: auto;
  /* 縦横比を維持 */
  display: block;
  /* 必要に応じて余白調整 */
}

.img-border-rounded {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  /* border-radius: 0.625rem; */

}

/* li>img:first-child {
  margin-top: 1rem;
} */


/* ネガティブマージン */
.ms-n3 {
  margin-left: -1rem !important;
}

.ms-n4 {
  margin-left: -2rem !important;
}

ol li::marker {
  font-weight: bold;
  font-size: 1.125rem;
}