@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  color: #333;
  /* font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "Lucida Grande", "Hiragino Kaku Gothic Pro", Osaka, Verdana, "ＭＳ Ｐゴシック", sans-serif */
}

.demo-app-wrap {
  max-width: 375px;
  height: 667px;
}

/* .demo-app-wrap--main {
  position: absolute;
  width: 100%;
  height: 100%;
} */

.demo-app-wrap--footer {
  position: absolute;
  z-index: 1000;
  /* top: 533.6px; */
  bottom: 0;
  width: 100%;
  max-width: 375px;
  height: 20%;
  min-height: 133.4px;
  padding: 0.5em;
  /* box-sizing: border-box;
  border: 1px solid #1FA28D;
  background-color: #fff; */
}

/* floating-menu-icon */
.floating-menu-icon {
  position: absolute;
  top: 14px;
  left: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
}

/* footer contents */
.demo-app-wrap--footer {
  font-size: 0.875em;
}

.demo-app-wrap--footer .description .note {
  font-size: 0.75em;
  line-height: 1.4;
  color: #1FA28D;
}

.demo-app-wrap--footer .description ul {
  padding-left: 1.3em;
}

.demo-app-wrap--footer .footer-link,
.tippy-content .footer-link {
  cursor: pointer;
}

.demo-app-wrap--footer .footerContent .description {
  overflow-y: auto;
  max-height: 100%;
}

.demo-app-wrap--footer a,
.demo-app-wrap--footer .footer-link {
  color: #1FA28D;
  text-decoration: underline;
}

/* Bootstrap customize */
.modal-body ul,
.modal-body ol {
  list-style-type: revert;
  padding-left: 1rem;
  margin-left: revert;
}

.modal-body li>img {
  max-width: 100%;
  /* 親の幅を超えない */
  height: auto;
  /* 縦横比を維持 */
  display: block;
  /* 必要に応じて余白調整 */
}

.img-border-rounded {
  border: 1px solid #dee2e6;
  border-radius: 0.625rem;
}

li>img:first-child {
  margin-top: 1rem;
  /* mt-3 相当（Bootstrapのmt-3は1rem） */
}

.wavy-line {
  width: 100%;
  object-fit: cover;
  /* 中央を基準にトリミング */
  object-position: center;
}


/* ====================================
   img要素と省略線
   ==================================== */


/* 親要素 */
.parent {
  position: relative;
  overflow: hidden;
}

/* アプリ画面－共通 */
.parent>img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: auto;
  display: block;
  pointer-events: none;
}

/* アプリ画面－下揃え */
.parent .img-bottom {
  bottom: 0;
}

/* アプリ画面－上揃え */
.parent .img-top {
  top: 0;
}

/* 省略線－共通 */
.parent .wave-top,
.parent .wave-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
}

/* 省略線（上揃え） */
.parent .wave-top {
  top: 0;
}

/* 省略線（下揃え） */
.parent .wave-bottom {
  bottom: 0;
}

.parent .wave-top img,
.parent .wave-bottom img {
  display: block;
  max-width: 100%;
  height: auto;
}