@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

.demo-app-wrap {
  position: relative;
  width: 100%;
  max-width: 375px;
  height: 667px;
  margin: 0 auto;
}

.demo-app-wrap--main {
  position: absolute;
  width: 100%; /* 親要素に合わせる */
  height: 100%; /* 親要素に合わせる */
}

.demo-app-wrap--footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 375px;
  height: 20%;
  max-height: 133.4px;
  background-color: #87CEFA;
}
