/* ====================================
   Driver.js
   ==================================== */

/* Driver.js Styling Popover */
.driver-popover.driverjs-theme {
  background-color: #494f58;
  border-top: 4px solid;
  border-image: linear-gradient(to left, #ED701E 0, #FFC000 33%, #60C4B4 66%, #1E8CE6 100%);
  border-image-slice: 1;
  /* padding-top: 30px; */
  z-index: 120 !important;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
}

.driver-popover.driverjs-theme button:hover {
  background-color: #666666;
  color: #ffffff;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: #9b9b9b;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
  color: #000;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #494f58;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #494f58;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #494f58;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #494f58;
}

/* .driver-popover.driverjs-theme.driver-test {
  margin-bottom: 80px;
  color: red;
} */

/* .driver-active {
  all: unset; */
  /* z-index: 400; */
/* } */

.driver-popover-prev-btn.driver-popover-btn-disabled {
  display: none !important;
}

.driver-popover.driverjs-theme{
  /* z-index: 0 !important; */
}

/* .driver-overlay.driver-overlay-animated{
  display: none !important;
} */