/* ハンバーガーアイコン */
.hamburger-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 28px;
  cursor: pointer;
  background-color: DimGray;
  color: white;
  opacity: 0.7;
  padding: 0.25em;
  z-index: 1000;
}

/* ドロワーメニュー */
.drawer-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #fffff0;
  transform: translateX(-100%); /* 初期は非表示（左に隠す） */
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 999;
}

/* 開いた状態 */
.drawer-menu.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.drawer-container {
  padding: 1em;
}

.close-icon {
  cursor: pointer;
  font-size: 20px;
  text-align: right;
}

.drawer-container ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.drawer-container li {
  margin-bottom: 16px;
  cursor: pointer;
}