@charset "UTF-8";

#tooltipsSen01,
#tooltipsSen02,
#tooltipsSen03,
#tooltipsSen04,
#tooltipsSen05,
#tooltipsSen06,
#tooltipsSen07,
#tooltipsSen08,
#tooltipsSen09,
#tooltipsSen10,
#tooltipsSen11,
#tooltipsSen12,
#tooltipsSen13
{
  position: absolute;
  /* box-sizing: border-box; */
  background-color: #ED701E;
  opacity: 0.2;
  border-radius: 5px;
  /* z-index: 110; */
}

#tooltipsSen01 {
  top: 0; 
  left: 0;
  width: 10.7%;
  height: 10.5%;
}

#tooltipsSen02 {
  top: 15.6%;
  left: 0;
  width: 100%;
  height: 7.0%;
}

#tooltipsSen03 {
  top: 771px;
  left: 0;
  width:300px;
  height: 64px;
}

#tooltipsSen04 {
  top: 449px;
  left: 0;
  width: 300px;
  height: 40px;
}

#tooltipsSen05 {
  top: 449px;
  left: 0;
  width: 300px;
  height: 40px;
}

#tooltipsSen06 {
  top: 398px;
  left: 0;
  width: 300px;
  height: 39px;
}

#tooltipsSen07 {
  top: 451px;
  left: 0;
  width: 300px;
  height: 126px;
}

#tooltipsSen08 {
  top: 725px;
  left: 0;
  width: 300px;
  height: 40px;
}

#tooltipsSen09 {
  top: 546px;
  left: 0;
  width: 300px;
  height: 40px;
}

#tooltipsSen10 {
  top: 260px;
  left: 0;
  width: 300px;
  height: 36px;
}

#tooltipsSen11 {
  top: 335px;
  left: 0;
  width: 300px;
  height: 75px;
}

#tooltipsSen12 {
  top: 132px;
  left: 0;
  width: 300px;
  height: 36px;
}

#tooltipsSen13 {
  top: 443px;
  left: 0;
  width: 300px;
  height: 39px;
}
