@charset "UTF-8";

#targetArea01401,
#targetArea01402,
#targetArea01403,
#targetArea01501,
#targetArea01502,
#targetArea01701,
#targetArea01802,






#targetArea07401,
#targetArea07402,
#targetArea07403,
#targetArea07501,
#targetArea07502,
#targetArea07601,
#targetArea07701,
#targetArea07702,
#targetArea07801,
#targetArea07901,
#targetArea08201,
#targetArea08202,
#targetArea08301,
#targetArea08601,
#targetArea08701,
#targetArea08702,
#targetArea08901,
#targetArea09101,
#targetArea09102,
#targetArea09201,
#targetArea09301,
#targetArea09302,
#targetArea09401,
#targetArea09701,
#targetArea09801,
#targetArea10101,
#targetArea10201,
#targetArea10301,
#targetArea10302,
#targetArea10401,


#targetArea13301
{
  position: absolute;
  background-color: #ED701E;
  opacity: 0.2;
  border-radius: 5px;
}

#targetArea01401{
  top: 0px;
  left: 0;
  width: 60px;
  height: 55px;
}

#targetArea01402{
  top: 82px;
  left: 0;
  width: 300px;
  height: 39px;
}

#targetArea01403{
  top: 175px;
  left: 0;
  width: 300px;
  height: 64px;
}
#targetArea01501{
  top: 96px;
  left: 0;
  width: 300px;
  height: 126px;
}

#targetArea01502{
  top: 294px;
  left: 0;
  width: 300px;
  height: 177px;
}

#targetArea01701{
  top: 227px;
  left: 0;
  width: 300px;
  height: 592px;
}

#targetArea01802{
  top: 462px;
  left: 0;
  width: 300px;
  height: 40px;
}
















#targetArea07401 {
  top: 0px; 
  left: 0px;
  width: 60px;
  height: 55px;
}

#targetArea07402 {
  top: 82px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea07403 {
  top: 175px; 
  left: 0px;
  width: 300px;
  height: 64px;
}
#targetArea07501 {
  top: 96px; 
  left: 0px;
  width: 300px;
  height: 126px;
}

#targetArea07502 {
  top: 294px; 
  left: 0px;
  width: 300px;
  height: 178px;
}

#targetArea07601 {
  top: 227px; 
  left: 0px;
  width: 300px;
  height: 592px;
}

#targetArea07701 {
  top: 481px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea07702 {
  top: 448px; 
  left: 0px;
  width: 300px;
  height: 39px;
}
#targetArea07801 {
  top: 449px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea07901 {
  top: 820px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea08201 {
  top: 449px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea08202 {
  top: 449px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea08301 {
  top: 555px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea08601 {
  top: 581px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea08701 {
  top: 244px; 
  left: 0px;
  width: 300px;
  height: 35px;
}

#targetArea08702 {
  top: 448px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea08901 {
  top: 130px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea09101 {
  top: 443px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea09102 {
  top: 409px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea09201 {
  top: 443px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea09301 {
  top: 463px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea09302 {
  top: 447px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea09401 {
  top: 716px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea09701 {
  top: 482px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea09801 {
  top: 449px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea10101 {
  top: 559px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea10201 {
  top: 177px; 
  left: 0px;
  width: 300px;
  height: 73px;
}

#targetArea10301 {
  top: 443px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea10302 {
  top: 409px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea10401 {
  top: 443px; 
  left: 0px;
  width: 300px;
  height: 39px;
}
