@charset "UTF-8";

#targetArea10501,
#targetArea10502,
#targetArea10503,
#targetArea10601,
#targetArea10701,
#targetArea10801,
#targetArea10802,
#targetArea10901,
#targetArea11001,
#targetArea11201,
#targetArea11202,
#targetArea11301,
#targetArea11601,
#targetArea11701,
#targetArea11702,
#targetArea11901,
#targetArea12101,
#targetArea12102,
#targetArea12201,
#targetArea12301,
#targetArea12302,
#targetArea12401,
#targetArea12601,
#targetArea12701,
#targetArea13001,
#targetArea13101,
#targetArea13201,
#targetArea13202,
#targetArea13301
{
  position: absolute;
  background-color: #ED701E;
  opacity: 0.2;
  border-radius: 5px;
}

#targetArea10501 {
  top: 0px; 
  left: 0px;
  width: 60px;
  height: 55px;
}

#targetArea10502 {
  top: 82px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea10503 {
  top: 175px; 
  left: 0px;
  width: 300px;
  height: 64px;
}

#targetArea10601 {
  top: 240px; 
  left: 0px;
  width: 300px;
  height: 198px;
}

#targetArea10701 {
  top: 227px; 
  left: 0px;
  width: 300px;
  height: 592px;
}

#targetArea10801 {
  top: 494px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea10802 {
  top: 462px; 
  left: 0px;
  width: 300px;
  height: 40px;
}






#targetArea10901 {
  top: 449px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea11001 {
  top: 790px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea11201 {
  top: 449px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea11202 {
  top: 449px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea11301 {
  top: 563px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea11601 {
  top: 582px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea11701 {
  top: 244px; 
  left: 0px;
  width: 300px;
  height: 35px;
}

#targetArea11702 {
  top: 448px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea11901 {
  top: 130px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea12101 {
  top: 443px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea12102 {
  top: 409px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea12201 {
  top: 443px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea12301 {
  top: 463px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea12302 {
  top: 447px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea12401 {
  top: 790px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea12601 {
  top: 482px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea12701 {
  top: 449px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea13001 {
  top: 559px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea13101 {
  top: 177px; 
  left: 0px;
  width: 300px;
  height: 73px;
}

#targetArea13201 {
  top: 443px; 
  left: 0px;
  width: 300px;
  height: 39px;
}

#targetArea13202 {
  top: 409px; 
  left: 0px;
  width: 300px;
  height: 40px;
}

#targetArea13301 {
  top: 443px; 
  left: 0px;
  width: 300px;
  height: 39px;
}
